.feed-item {
  border: 1px solid $c-border;
  padding: 10px 0;
  border-radius: 4px;

  &__person {
    margin-right: 30px;
    float: left;
    width: 100px;
    margin-left: 10px;
  }

  &__avatar {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  &__message {
    float: right;
    width: 642px;
    line-height: 1.4;
    padding-right: 10px;
    overflow: hidden;
  }

  &__comments {
    padding-left: 140px;
    margin-top: 20px;
    border-top: 1px solid $c-border;
    padding-top: 20px;
  }

  &__feed-comment {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__date {
    text-align: right;
    font-size: 14px;
    color: #ccc;
  }

  &__img-wrap {
    margin-bottom: 8px;
    max-height: 300px;
    overflow: hidden;
  }

  &__img {
    max-width: 100%;
  }
}

@media (max-width: $b-lg) {
  .feed-item {
    &__message {
      width: 458px;
    }
  }
}

@media (max-width: $b-md) {
  .feed-item {
    &__wrapper {
      display: flex;
    }

    &__person {
      flex-shrink: 0;
    }

    &__message {
      width: 100%;
    }
  }
}

@media (max-width: $b-sm) {
  .feed-item {
    &__comments {
      padding-left: 80px;
    }
  }
}

@media (max-width: $b-xs) {
  .feed-item {
    &__person {
      width: 80px;
      height: 80px;
      margin-right: 16px;
    }

    &__avatar {
      width: auto;
      height: auto;
    }

    &__comments {
      padding-left: 10px;
    }
  }
}
