.feed-comment {
  &__person {
    float: left;
    width: 70px;
    margin-right: 30px;
  }

  &__avatar {
    max-width: 100%;
  }

  &__message {
    float: right;
    width: 542px;
    line-height: 1.4;
    padding-right: 10px;
  }
}

@media (max-width: $b-lg) {
  .feed-comment {
    &__person {
      margin-right: 20px;
    }

    &__message {
      width: 368px;
    }
  }
}

@media (max-width: $b-md) {
  .feed-comment {
    display: flex;

    &__person {
      flex-shrink: 0;
    }

    &__message {
      width: auto;
    }
  }
}

@media (max-width: $b-xs) {
  .feed-comment {
    &__person {
      width: 40px;
      margin-right: 20px;
    }

    &__avatar {
      width: auto;
      height: auto;
    }

    &__message {
      font-size: 14px;
    }
  }
}
