/**
колонки
*/
$cols: 12; //
$offset: 32; // px

@mixin col($size, $off: $offset, $col: $cols) {
  width: calc((100% + #{$off}px) /#{$col}*#{$size} - #{$off}px);
}

/**
колонки внутри блока с отрецательными margin
*/
@mixin colm($size, $off: $offset, $col: $cols) {
  width: calc((100%) /#{$col}*#{$size} - #{$off}px);
}
