.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: $b-lg) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: $b-md) {
  .container {
    max-width: 740px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
